* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ddd;
}
.topHeaderNav {
  background-color: black;
  height: 180px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.topHeaderNav h1 {
  padding-top: 30px;
  font-size: 20px;
  font-weight: normal;
}
.topHeaderNav h3 {
  font-size: 16px;
  font-weight: normal;
}
.topHeaderNav img {
  height: 100%;
  margin-right: 5px;
}
.searchBar {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
}
.searchBar input {
  font-size: 16px;
  padding: 7px 12px 7px 12px;
  outline: none;
  border: 0;
  width: 400px;
  border-radius: 20px;
}
.searchBar button {
  padding: 8px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 20px;
  margin-left: -60px;
  border: 0;
  cursor: pointer;
}
.searchBar button:hover {
  background-color: black;
}
.centerArea {
  background-color: #ddd;
}
.warningRed {
  color: red;
}
